//
//  Debug.xcconfig
//  iosApp
//
//  Created by Mofe Ejegi on 29/11/2023.
//  Copyright © 2023 L'Operateur Ltd. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUNDLE_ID=$(inherited).debug
APP_NAME=$(inherited)Dev
KOTLIN_FRAMEWORK_BUILD_TYPE=debug
BASE_API_URL=http:/$()/staging-backend.studyround.com
