//
//  Release.xcconfig
//  iosApp
//
//  Created by Mofe Ejegi on 29/11/2023.
//  Copyright © 2023 L'Operateur Ltd. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KOTLIN_FRAMEWORK_BUILD_TYPE=release
BASE_API_URL=https:/$()/backend.studyround.com
